body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html,
body,
#main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-rows: 2rem auto;
}
#map {
  height: 100%;
  width: 100%;
}

#header p {
  margin: 0
}